<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>connections</key>
  <dict>
    <key>7AAC1C97-F645-4953-AF66-5331F8E64004</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>FCA51658-3602-446A-8B60-3183C0EE0EE8</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>9BF5597C-F067-4757-82CD-757F577132FA</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>7AAC1C97-F645-4953-AF66-5331F8E64004</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>D249C1BD-B86B-4BF5-80DC-A54BEA367E31</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>7AAC1C97-F645-4953-AF66-5331F8E64004</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
  </dict>
  <key>objects</key>
  <array>
    <dict>
      <key>config</key>
      <dict>
        <key>action</key>
        <integer>0</integer>
        <key>argument</key>
        <integer>0</integer>
        <key>hotkey</key>
        <integer>45</integer>
        <key>hotmod</key>
        <integer>1048576</integer>
        <key>hotstring</key>
        <string>N</string>
        <key>leftcursor</key>
        <false/>
        <key>modsmode</key>
        <integer>0</integer>
        <key>relatedApps</key>
        <array>
          <string>com.apple.finder</string>
        </array>
        <key>relatedAppsMode</key>
        <integer>1</integer>
      </dict>
      <key>type</key>
      <string>alfred.workflow.trigger.hotkey</string>
      <key>uid</key>
      <string>D249C1BD-B86B-4BF5-80DC-A54BEA367E31</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>concurrently</key>
        <false/>
        <key>escaping</key>
        <integer>0</integer>
        <key>script</key>
        <string></string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>scriptfile</key>
        <string>lib/new.zsh</string>
        <key>type</key>
        <integer>8</integer>
      </dict>
      <key>type</key>
      <string>alfred.workflow.action.script</string>
      <key>uid</key>
      <string>FCA51658-3602-446A-8B60-3183C0EE0EE8</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>alfredfiltersresults</key>
        <false/>
        <key>argumenttype</key>
        <integer>2</integer>
        <key>escaping</key>
        <integer>0</integer>
        <key>queuedelaycustom</key>
        <integer>3</integer>
        <key>queuedelayimmediatelyinitially</key>
        <true/>
        <key>queuedelaymode</key>
        <integer>0</integer>
        <key>queuemode</key>
        <integer>2</integer>
        <key>runningsubtext</key>
        <string></string>
        <key>script</key>
        <string>node_modules/.bin/run-node lib/list.js "$@"</string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>scriptfile</key>
        <string>lib/list.js</string>
        <key>subtext</key>
        <string></string>
        <key>title</key>
        <string></string>
        <key>type</key>
        <integer>8</integer>
        <key>withspace</key>
        <false/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.scriptfilter</string>
      <key>uid</key>
      <string>7AAC1C97-F645-4953-AF66-5331F8E64004</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>argumenttype</key>
        <integer>2</integer>
        <key>keyword</key>
        <string>new</string>
        <key>subtext</key>
        <string></string>
        <key>text</key>
        <string>New item</string>
        <key>withspace</key>
        <false/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.keyword</string>
      <key>uid</key>
      <string>9BF5597C-F067-4757-82CD-757F577132FA</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
  </array>
  <key>uidata</key>
  <dict>
    <key>7AAC1C97-F645-4953-AF66-5331F8E64004</key>
    <dict>
      <key>xpos</key>
      <integer>200</integer>
      <key>ypos</key>
      <integer>20</integer>
    </dict>
    <key>9BF5597C-F067-4757-82CD-757F577132FA</key>
    <dict>
      <key>xpos</key>
      <integer>20</integer>
      <key>ypos</key>
      <integer>140</integer>
    </dict>
    <key>D249C1BD-B86B-4BF5-80DC-A54BEA367E31</key>
    <dict>
      <key>xpos</key>
      <integer>20</integer>
      <key>ypos</key>
      <integer>20</integer>
    </dict>
    <key>FCA51658-3602-446A-8B60-3183C0EE0EE8</key>
    <dict>
      <key>xpos</key>
      <integer>380</integer>
      <key>ypos</key>
      <integer>20</integer>
    </dict>
  </dict>
  <key>name</key>
  <string>New item</string>
  <key>description</key>
  <string/>
</dict>
</plist>
